* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Set full height for parent elements */
.web {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.centered-container {
  display: flex;
  justify-content: center;
}

.centered-table {
  border-collapse: collapse;
  font-family: arial, sans-serif;
  width: 90%;
}

/*  table header and and cells*/
th {
  border-bottom: 3px solid #c2c0c0;
  text-align: left;
  padding: 8px;
  color: grey;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* add color to even cells in the table  */
tr:nth-child(even) {
  background-color: #dddddd;
}

td {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 7px;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(176, 161, 161);
  color: white;
  text-align: center;
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}
#check {
  display: none;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 111;
}

.small-input {
  width: 110px; /* Adjust the width value as needed */
  font-size: 12px;
}

.update-button {
  width: 80px;
  font-size: 12px;
}

.search-container {
  display: flex;
  align-items: center;
  text-align: right; /* Align the search bar to the right */
  margin-top: 10px; /* Add some spacing above the search bar */
  margin-bottom: 20px; /* Add some spacing below the search bar */
  margin-left: 60px;
}

.search-input {
  height: 40px;
  font-size: 16px;
  width: 300px; /* Set the width of the search input */
  padding: 5px 10px; /* Add some padding to the input */
}
